
<form #login="ngForm" (ngSubmit)="sendDataCafe(name.value, password.value)">
  <h1>Login cafe</h1>
  <input required
         ngModel
         type="text"
         name="name"
         placeholder="login"
         #name
  >
  <div *ngIf="error" class="error"> This field is empty</div><br><br>
  <input required
         ngModel
         type="password"
         name="password"
         placeholder="password"
         #password
  >
  <div *ngIf="error" class="error"> This field is empty</div><br><br>
  <button type="submit" [disabled]="login.invalid">Send</button>
</form>
